---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Mandi"
  pubDate={new Date('February 18 2025')}
	heroImage="/IMG_5717_2.jpg"
>
  <p>
    Passionate about classroom culture and passing the wisdom of a tradition to the next generation, Mandi Gerth speaks and writes about classical education and family culture.
    She teaches upper school English in Dallas, Texas where she lives with her husband and three of their five children.
	</p>
  
  <h3>
    Writing
  </h3>

  <ul>
    <li>
      <a href="https://circeinstitute.org/blog/master-teacher/" target="_blank">The Master Teacher</a>
      -- Circe Institute
    </li>
    <li>
      <a href="https://artsofliberty.substack.com/p/tie-them-to-the-mast" target="_blank">Tie Them to the Mast</a>
      -- Arts of Liberty - University of Dallas
    </li>
    <li>
      <a href="https://theopolisinstitute.com/home-is-the-place-they-leave/" target="_blank">Home is the Place They Leave</a>
      -- Theopolis Institute 
    </li>
    <li>
      <a href="https://theopolisinstitute.com/you-become-what-you-behold/" target="_blank">You Become What You Behold</a>
      -- Theopolis Institute 
    </li>
    <li>
      <a href="https://www.classicaldifference.com/coming-up-for-air/" target="_blank">Coming Up for Air</a>
      -- Classical Difference 
    </li>
    <li>
      <a href="https://www.classicaldifference.com/talk-to-strangers/" target-"_blank">Talk to Strangers</a>
      -- Classical Difference 
    </li>
    <li>
      <a href="https://www.classicaldifference.com/summers-bounty/" target="_blank">Summer's Bounty</a>
      -- Classical Difference 
    </li>
  </ul>

  <h3>
    Past Speaking Engagements
  </h3>

  <ul>
    <li>
      "Classical Pedagogy 101"
      -- SCL, 2023
    </li>
    <li>
      "Classical Pedagogy for the New Teacher"
      -- SCL, 2022
    </li>
    <li>
      <a href="https://mrc.classicalchristian.org/conference_media/mandi-gerth-creating-classroom-culture/" target="_blank">Creating Classroom Culture</a>
      -- ACCS, 2022 (available for ACCS member schools)
    </li>
    <li>
      <a href="https://mrc.classicalchristian.org/conference_media/creating-classroom-culture-giving-your-students-what-lasts-mandi-gerth/" target="_blank">Giving Your Students What Lasts</a>
      -- ACCS, 2021 (available for ACCS member schools)
    </li>
  </ul>

  <h3>
    Teacher Training 
  </h3>

	<p>
    Mandi Gerth provides teacher training on classical pedagogy, how to teach great books, and creating classroom culture.
    She also speaks at classical educational conferences.
    She is able to provide both half day and full day training sessions for your classical education faculty grades K-12.
  </p>

</Layout>
