---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h2 style="text-align:center">Mrs. Gerth Teaches</h2>
            <img src="/headshots-6-crop.jpg" />
            <p>
              Mandi Gerth is a teacher, author and classical education consultant who lives in Dallas, Texas.
              She holds a master of humanities degree from the University of Dallas with a classical education concentration. 
              She writes about education, great books, and teaching classically.
            </p>
            <p>
              Mandi's first book, "Thoroughness & Charm: Cultivating the Habits of a Classical Classroom," will be released in May 2025.
              It is available for pre-order exclusively from <a href="https://circeinstitute.org/product/thoroughness-and-charm/">CiRCE Press</a>.
              <a href="blog/thoroughness-and-charm/">Read more</a> about the book.
            </p>
              <h4>Stay in Touch</h4>
            <p>
              Mandi writes regularly on <a href="https://mrsgerthteaches.substack.com/" target="_blank">Substack</a> and posts often to <a href="https://www.linkedin.com/in/mandi-gerth-916377296">LinkedIn</a> and <a href="https://www.instagram.com/mrsgerthteaches/">Instagram</a>.
              Please find her online and stay in touch.
              She also speaks at classical education conferences and travels to classical schools for teacher and parent training sessions.
            </p>
        </main>
        <Footer />
    </body>
</html>
