---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h2 style="text-align:center">Mrs. Gerth Teaches</h2>
            <img src="/headshots-6-crop.jpg" />
            <p>
              Mandi Gerth is a teacher, author and classical education consultant who lives in Dallas, Texas. 
              She holds a master of humanities degree from the University of Dallas. 
              She writes about education, great books, and teaching classically.
            </p>
            <h4>"Thoroughness & Charm"</h4>
            <p>
            Mandi's first book, "Thoroughness & Charm: Cultivating the Habits of a Classical Classroom," is set to be released in April 2025.  It is available for pre-order exclusively from <a href="https://circeinstitute.org/product/thoroughness-and-charm/" target="_blank">CIRCE</a>.
            Read more about the book in this <a href="blog/2025-02-16/">post</a>.
            </p>
            <h4>Substack</h4>
            <p>
            Mandi writes regularly at <a href="https://mrsgerthteaches.substack.com/" target="_blank">Substack.</a>
            Please subscribe!
            </p>
        </main>
        <Footer />
    </body>
</html>
